<li class="person" data-id="{{ conversation.id }}" data-title="{{ conversation.getTitle() }}">
	<span class="name">{{ conversation.getTitle() }}</span>
	<span class="preview">{{ conversation.getLastMessage().body }}</span>
</li>